.profile-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh; 
}

.profile-page .logo {
    display: flex;
    align-items: center;
}

.profile-page .logo img {
    height: 30px;

}

.profile-page header nav {
    margin-right: 20px;
}

.profile-page header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.profile-page header nav ul li {
    margin-left: 20px;
}

.profile-page header nav ul li a {
    color: white;
    text-decoration: none;
}

.profile-page main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px; 
    margin-top: 60px; 
    height: calc(100vh - 60px); 
}

.profile-page .profile-container {
    background-color: #004880;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; 
}

.profile-page .profile-container img {
    width: auto;
    height: 150px;
    border-radius: 40px
}

.profile-page .profile-container input,
.profile-page .profile-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.profile-page .profile-container button {
    background-color: #eab239;
    color: white;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
}

.profile-page .profile-container button:hover {
    background-color: #c08301;
}

.input-group {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .file-input-label {
    display: block; /* Or inline-block, depending on your desired layout */
    margin-bottom: 5px; /* Adjust as needed */
    font-weight: bold; /* Optional: if you want the label to be bold */
  }
  
  .file-button-label {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 123px;
    font-size: 15px;
    background-color: #eab239;
    color: white;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .file-button-label:hover {
    background-color: #c08301;
  }
  
  