header {
    display: flex;
    background-color: #004880;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  header img {
    height: 45px;
  }

  #homepageLogo{
    height: 30px;
    display: flex;
    align-self: center;
  }