html {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  max-width: 100vw; 
  overflow-x: hidden; 
}

.login-form,
.welcome-back {
  flex: 1; 
}

.login-form {
  background-color: #eaeaea; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.login-form-inner {
  max-width: 300px; 
}

.welcome-back {
  background-color: #0055A2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  color: white;
}

.welcome-back-inner {
  max-width: 300px; 
}

.sjsu_logo{
  max-width: 100px; 
  height: auto; 
}
.login_logo{
  max-width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .login-form,
  .welcome-back {
    width: 100%; 
    padding: 20px;
  }

  .sjsu_logo,
  .login_logo {
    max-width: 150px; 
  }
}

#username{
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 16px;
}

#password{
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 16px;
}

#submit{
  width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}